@font-face {
  font-family: 'Raleway-Regular';
  src: url('@/assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Open-Sans-Regular';
  src: url('@/assets/fonts/Open-Sans/Open-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('@/assets/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('@/assets/fonts/Open-Sans/Open-Sans-Bold.ttf');
}
@font-face {
  font-family: 'icomoon';
  src: url('@/assets/fonts/Iconmoon/icomoon.ttf');
}
