@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'),
    url('src/assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Open-Sans-Regular';
  src: local('Open-Sans-Regular'),
    url('src/assets/fonts/Open-Sans/Open-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('src/assets/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('src/assets/fonts/Open-Sans/Open-Sans-Bold.ttf');
}
@font-face {
  font-family: 'icomoon';
  src: local('icomoon'), url('src/assets/fonts/Iconmoon/icomoon.ttf');
}
