$clr1: #1b2330;
$clr2: linear-gradient(152deg, #63e1d9 0%, #34a0cd 100%);
$clr3: #fff;
$clr4: #181f2b;
$clr5: #62e0d9;
$clr6: #0b1524;
$break-narrow: 20px 1fr 20px;
$break-wide: 80px 1fr 80px;
$padded-break-wide: 1040px;
$padded-break-narrow: 1020px;
